body {
    padding: 20px 5%;
}
span, #table span{
    color: red;
}
nav ul li{
    float: left;
}
#insert{
    background-color: lightblue;
    width: 280px;
    height: 200px;
    margin: 5px;
    float: left;
}
#register form{
    background-color: lightblue;
    width: 590px;
}
#user{
    background-color: pink;
    width: 280px;
    height: 200px;
    margin: 5px;
    float: left;
}
#update form{
    background-color: lightblue;
    width: 590px;
}
#register{
    float: left;
}
#update{
    float: right;
}